<div class="panel panel-default layer-scroll" id="sobre">
	<div class="panel-heading">About me</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2 center">
				<img src="assets/images/kaio.jpeg">
				<br/>
				<small>programador.kaio<b>AT</b>gmail.com</small>
			</div>
			<div class="col-md-10" style="padding-left:40px;">
				<p>Me chamo Kaio Cesar,</p>
				<p>atuo com desenvolvimento web a mais de 5 anos, inicialmente comecei minha carreira trabalhando com desenvolvimento de aplicações WordPress, ZendFramework 1.12 + Doctrine, CodeIgniter e atualmente trabalho com Laravel. Acredito que minha especialidade é melhor aplicada na criação de WebAPI, disponibilizando serviços para websites ou aplicativos que necessitam utilizar recursos de webservice.</p>
				<p>Minha preferencia de trabalho sempre foi <b>back-end</b> e <b>front-end</b>.</p>
				<hr/>
				<strong>Minhas habilidades</strong>
				<ul class="list">
					<li>PHP, Python e JavaScript</li>
					<li>MySQL, PostGreSQL e NoSQL</li>
					<li>ZendFramework, CodeIgniter, Laravel, Django, Express.js, Angular.js</li>
					<li>GIT workflow</li>
					<li>Linux based Debian e MacOXS</li>
				</ul>				
			</div>
		</div><!-- .row -->

		<div class="row">
			<br/>
			<br/>
			<div class="col-md-3">
				<img src="assets/images/l_sanrio.png">
			</div>
			<div class="col-md-9">
				<ul>
					<li><strong>Tecnologias:</strong> PHP (Laravel), Node.js, Angular.js(1.2) e MySQL</li>
					<li><strong>Empresa:</strong> Iron Systems</li>
					<li><strong>Criado em:</strong> julho/2015</li>
					<li><strong>URL:</strong><a href="#/" target="_blank">Intranet</a></li>
					<li><strong>Atividades realizadas:</strong> desenvolvimento de todo o portal (front e back-end), para importação, validação com microsiga e persistência de planilhas gigantescas de produtos licenciados pela marca da Hello Kitty.</li>
					<li>A primeira versão desse projeto teve o front-end baseado em Angular.js, com algumas funções de cadastro e visualização de relatório.</li>
				</ul>
			</div>
		</div><!-- .row -->



		<div class="row">
			<div class="col-md-12">
				<strong>Trabalhos recentes</strong>
				<br/><br/>				
			</div>
			<div class="col-md-3">
				<img src="assets/images/l_diva.png">
			</div>
			<div class="col-md-9">
				<ul>
					<li><strong>Tecnologias:</strong> PHP (Codeigniter), MySQL e JavaScript.</li>
					<li><strong>Empresa:</strong> Iron Systems</li>
					<li><strong>Criado em:</strong> abril/2015</li>
					<li><strong>URL:</strong><a href="http://divaexpress.com.br/" target="_blank">http://divaexpress.com.br/</a></li>
					<li><strong>Atividades realizadas:</strong> cadastro de clientes e integração de plataforma da CIELO (todo backend).</li>					
				</ul>
			</div>
		</div><!-- .row -->

		<div class="row">
			<br/>
			<br/>
			<div class="col-md-3">
				<img src="assets/images/l_expresso.png">
			</div>
			<div class="col-md-9">
				<ul>
					<li><strong>Tecnologias:</strong> ASP.Net e JavaScript</li>
					<li><strong>Empresa:</strong> Iron Systems</li>
					<li><strong>Criado em:</strong> junho/2015</li>
					<li><strong>URL:</strong><a href="http://expressoluxo.com.br/" target="_blank">http://expressoluxo.com.br/</a></li>
					<li><strong>Atividades realizadas:</strong> desenvolvimento do novo layout responsivo e criação de cadastros de contato e trabalho conosco.</li>
				</ul>
			</div>
		</div><!-- .row -->

		


		<div class="row">
			<br/>
			<br/>
			<div class="col-md-3">
				<img src="assets/images/l_instituto.png">
			</div>
			<div class="col-md-9">
				<ul>
					<li><strong>Tecnologias:</strong> PHP (Laravel), MySQL, JavaScript</li>
					<li><strong>Empresa:</strong> Freelance</li>
					<li><strong>Criado em:</strong> abril/2016</li>
					<li><strong>URL:</strong><a href="http://novo.irlp.com.br" target="_blank">http://novo.irlp.com.br</a></li>
					<li><strong>Atividades realizadas:</strong> sistema para escola religiosa, todo desenvolvido em Laravel, MySQL e JavaScript.</li>
				</ul>
			</div>
		</div><!-- .row -->


		<div class="row">
			<br/>
			<br/>
			<div class="col-md-3">
				<img src="assets/images/l_moc.png">
			</div>
			<div class="col-md-9">
				<ul>
					<li><strong>Tecnologias:</strong> PHP (WordPress), MySQL e JavaScript</li>
					<li><strong>Empresa:</strong> MKT Virtual</li>
					<li><strong>Criado em:</strong> maio/2016</li>
					<li><strong>URL:</strong><a href="https://mocbrasil.com" target="_blank">https://mocbrasil.com</a></li>
					<li><strong>Atividades realizadas:</strong> desenvolvimento do back-end, com cadastro de usuários integrando informações personalizadas, plataforma premium e de pagamento com PagSeguro ou Paypal e WebService para servir o aplicativo hibrido.</li>
				</ul>
			</div>
		</div><!-- .row -->

		

		

	</div>
</div>