<div class="panel panel-default layer-scroll" id="sobre">
   <div class="panel-heading">Recent work</div>
   <div class="panel-body">

   <strong>Recents works</strong>

   <i>http://divaexpress.com.br</i>

   <i>http://takioh.com.br</i>

   <i>http://licenseeportal.sanrio.com.br</i>

   <i>http://novo.irlp.com.br/</i>


   <br/>
   <p>Hi, I'm Kaio Cesar, </p>
   <p>I am software developer about 4 years, experienced in development of internet applications.</p>
   <p>You can download my CV in this <a href="#">link</a></p>
   <p>In my work I often use the following tools:</p>

   <p><a href="https://github.com/search?utf8=%E2%9C%93&q=user%3Akaiocesar+php&type=Repositories&ref=searchresults">PHP</a>, <a href="https://github.com/search?q=user%3Akaiocesar+python">Python</a>, <a href="https://github.com/search?q=user%3Akaiocesar+node">Node.js</a> e <a href="https://github.com/search?q=user%3Akaiocesar+ruby">Ruby</a>.</p>

   <br/>

   <p>My skills:</p>
   <a href="#" class="btn btn-default btn-xs">PHP <span class="badge">70%</span></a>
   <a href="#" class="btn btn-default btn-xs">Python <span class="badge">30%</span></a>
   <a href="#" class="btn btn-default btn-xs">JavaScript <span class="badge">40%</span></a>
   <a href="#" class="btn btn-default btn-xs">Ruby <span class="badge">16,67%</span></a>
   <a href="#" class="btn btn-default btn-xs">Java <span class="badge">25,88%</span></a>
   
   <br/>
   <a href="#" class="btn btn-default btn-xs">Django <span class="badge">28,57%</span></a>
   <a href="#" class="btn btn-default btn-xs">Ruby on Rails <span class="badge">16,67%</span></a>
   <a href="#" class="btn btn-default btn-xs">Laravel <span class="badge">70%</span></a>
   <a href="#" class="btn btn-default btn-xs">ZendFramework 2 <span class="badge">10%</span></a>
   <a href="#" class="btn btn-default btn-xs">Flask <span class="badge">17%</span></a>

   <br/>
   <a href="#" class="btn btn-default btn-xs">MySQL <span class="badge">60%</span></a>
   <a href="#" class="btn btn-default btn-xs">PostgreSQL <span class="badge">30%</span></a>

   <br/>
   <a href="#" class="btn btn-default btn-xs">Elastic Search <span class="badge">0%</span></a>
   <a href="#" class="btn btn-default btn-xs">Hadoop <span class="badge">0%</span></a>
   <a href="#" class="btn btn-default btn-xs">Redis <span class="badge">0%</span></a>

</div><!-- panel-body -->
</div>
